---
---

<footer class="lc-footer">
  <div class="lc-footer-message">
    <p>
      Cảm ơn người đã xây dựng nên nền tảng này- cám ơn tất cả những nhân duyên tuyệt vời
      đã đến bên đời mình
    </p>
    <p>Nhờ đó, mình có cơ hội viết ra những điều mình ấp ủ và có cơ hội được gặp bạn.</p>
  </div>
  <div class="lc-footer-2">
    <span>© 2026 Linhchiaura · </span><a
      href="https://www.facebook.com/mosakid"
      target="_blank"
      rel="noopener noreferrer">Facebook ↗</a
    >
  </div>
</footer>
